{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set is_ext_direct = collector.extDirectRequest %}
    {% set icon %}
        {{ include('@TQExtDirect/data_collector/icon.svg') }}
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Ext.direct</b>
            <span class="sf-toolbar-status sf-toolbar-status-{{ is_ext_direct ? 'green' : 'red' }}">{{ is_ext_direct ? 'Yes' : 'No' }}</span>
        </div>
    {% endset %}

    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with {'link': true} %}
{% endblock %}


{% block menu %}
    <span class="label {{ collector.extDirectRequest ? '' : 'disabled' }}">
        <span class="icon">{{ include('@TQExtDirect/data_collector/icon.svg') }}</span>
        <strong>Ext.direct</strong>
    </span>
{% endblock %}


{% block panel %}
    {% set is_ext_direct = collector.extDirectRequest %}
    <h2>Ext.direct Metrics</h2>

    <div class="metrics">
        <div class="metric">
            <span class="value">{{ '%0.2f'|format(collector.time) }} ms</span>
            <span class="label">Request time</span>
        </div>
    </div>

    <h2>Request</h2>
    {% if not is_ext_direct %}
        <div class="empty">
            <p>Request not available (request was not an Ext.direct request).</p>
        </div>
    {% elseif collector.request %}
        <div class="card">
            <pre class="break-long-words">{{ profiler_dump(collector.request) }}</pre>
        </div>
    {% else %}
        <div class="empty">
            <p>No request</p>
        </div>
    {% endif %}

    <h2>Response</h2>
    {% if not is_ext_direct %}
        <div class="empty">
            <p>Response not available (request was not an Ext.direct request).</p>
        </div>
    {% elseif collector.response %}
        <div class="card">
            <pre class="break-long-words">{{ profiler_dump(collector.response) }}</pre>
        </div>
    {% else %}
        <div class="empty">
            <p>No response</p>
        </div>
    {% endif %}

{% endblock %}
