{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set is_ext_direct = collector.extDirectRequest %}
    {% set icon %}
        {{ include('TQExtDirectBundle:data_collector:icon.html.twig') }}
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Ext.direct</b>
            <span class="sf-toolbar-status sf-toolbar-status-{{ is_ext_direct ? 'green' : 'red' }}">{{ is_ext_direct ? 'Yes' : 'No' }}</span>
        </div>
    {% endset %}

    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with {'link': true} %}
{% endblock %}


{% block menu %}
    <span class="label {{ collector.extDirectRequest ? '' : 'disabled' }}">
        <span class="icon">{{ include('TQExtDirectBundle:data_collector:icon.html.twig') }}</span>
        <strong>Ext.direct</strong>
    </span>
{% endblock %}


{% block panel %}
    <h2>Ext.direct Metrics</h2>

    <div class="metrics">
        <div class="metric">
            <span class="value">{{ '%0.2f'|format(collector.time) }} ms</span>
            <span class="label">Request time</span>
        </div>
    </div>

    <h2>Request</h2>
    {{ collector.request|default(null)|yaml_encode }}

    <h2>Response</h2>
    {{ collector.response|default(null)|yaml_encode }}

{% endblock %}
